body{
    background-image: url("images/Background.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    font-family: Arial;
}
header {
    width: 1517px;
    height: 128px;
    background-color: rgba(0,0,0,0.5);
}
nav > ul > li {
    color: white;
    display: inline-block;
    padding-top: 40px;
    padding-left: 25px;

}
nav > ul {
    list-style-type: none;
    padding-right: 350px;
}
main{
    position: absolute;
    background-color: deepskyblue;
    width: 1517px;
    height: 300px;
    top: 1024px;
}
footer{
    position: absolute;
    background-color: white;
    width: 1517px;
    height: 700px;
    top: 1324px;
}
nav {
    float: right;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: deepskyblue;
    border
}
